<div class="login-page">
  <div class="login-card">
    <div class="card-header-custom">
      <h3>Recuperar Contraseña</h3>
      <p class="text-muted">Enviaremos un código de verificación a tu email</p>
    </div>
    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="username" class="form-label">Introduce tu Email</label>
        <input
          type="text"
          class="form-control custom-input"
          id="username"
          name="username"
          [ngModel]="email()"
          (ngModelChange)="emailChange($event)"
          required
        />
      </div>
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary custom-btn">Enviar código</button>
      </div>
    </form>
  </div>
</div>
