<div class="login-page">
  <div class="login-card">
    <div class="card-header-custom">
      <h3>Restablecer Contraseña</h3>
      <p class="text-muted">Introduce tu nueva contraseña</p>
    </div>
    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="password" class="form-label">Nueva contraseña</label>
        <input
          type="password"
          class="form-control custom-input"
          id="password"
          name="password"
          [ngModel]="password()"
          (ngModelChange)="passwordChange($event)"
          required
        />
      </div>

      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirmar contraseña</label>
        <input
          type="password"
          class="form-control custom-input"
          id="confirmPassword"
          name="confirmPassword"
          [ngModel]="confirmPassword()"
          (ngModelChange)="confirmPasswordChange($event)"
          required
        />

        <div *ngIf="nonEqualPassword()" class="alert alert-danger mt-3" role="alert">
          Las contraseñas no coinciden
        </div>
      </div>

      <div class="d-grid gap-2">
        <button
          type="submit"
          class="btn btn-primary custom-btn"
          [disabled]="!password() || nonEqualPassword()"
        >
          Enviar
        </button>
      </div>
    </form>
  </div>
</div>
